.header
  .players
    .player
    .player
    .player
  .timer
.dungeon-boss
  - 30.times do |index|
    .card.card-door{ class: ('active' if index == (30 - 1)),
                     style: "z-index: #{index}; left: #{60.to_f/30 * index}vw" }
      = index + 1
.hero
  .special-ability
  .hand
    .card.card-purple
      4
    .card.card-yellow
      5
    .card.card-purple
      6
