.header
  .players
    .player
    .player
    .player
  .timer
.dungeon-boss
  .card.card-door
    3
.hero
  .special-ability
  .hand
    .card.card-purple
      4
    .card.card-yellow
      5
    .card.card-purple
      6
